---
import Section from './Section.astro'
import Productos from './Productos.astro'
---
<Section id="cafeteria" seccion="Cafeteria">
<Productos
    name="Café"
    precio="$2000"
    caracteristicas="Café con tostadas"
/>

<Productos
    name="Combo"
    precio="$3000"
    caracteristicas="Combo de café  con tostadas o medialunas"
/>

</Section>

<Section
    id="platos"
    seccion="Platos"
>

<Productos
    name="Milanesa con pure"
    precio="$15.000"
    caracteristicas="Milanesa con pure de papas"
/>
</Section>

<Section
    id="bebidas"
    seccion="Bebidas"
>

        <Productos
        name="Coca-Cola"
        precio="$1500"
        caracteristicas="Coca-Cola 2L"
        />
        <Productos
            name="Sprite"
            precio="$1500"
            caracteristicas="Sprite 2L"
        />
        <Productos
            name="Pepsi"
            precio="$1500"
            caracteristicas="Pepsi 2L"
        />
        <Productos
            name="Agua Saborizada"
            precio="$1500"
            caracteristicas="Agua saborizada sabor a elección 2L"
        />

</Section>

<Section
    id="postres"
    seccion="Postres"
>

    <Productos
        name="Copa Helada"
        precio="$1500"
        caracteristicas="Copa helada de vainilla"
    />

</Section>

<Section
    id="licuados"
    seccion="Licuados"
>

    <Productos
        name="Promo 1"
        precio="$1500"
        caracteristicas="Licuado de frutas con leche y dos tostadas"
    />

</Section>

<Section
    seccion="Bebidas con alcohol"
>

    <Productos
        name="Cerveza Salta rubia 1L"
        precio="$2500"
    />

    <Productos
        name="Cerveza Salta rubia 1L"
        precio="$2500"
    />
    <Productos
        name="Cerveza Salta negra 1L"
        precio="$2500"
    />
    <Productos
        name="Cerveza Corona 750ml"
        precio="$2000"
    />

</Section>




