---
const {name, precio, caracteristicas}= Astro.props;
---
<div class="flex justify-between mx-10 mt-10 mb-3 md:justify-around text-xl ">
    <span>{name}</span>
    <br>
    <span>. . {precio}</span>
</div>
<div class="flex  md:mx-24">
    <span class="flex mx-10 text-sm  ">{caracteristicas}</span>
</div>

